.header{width:100%;
        text-align:center;
        background-color:#FFFF66;	<!---背景と同じ色--->
}

.header img{width: 1000px;
            max-width: 100%;
            max-height: 120px;
            height: auto;
            display: block;
            margin: 0 auto;
}


ul,li{padding:0;margin:0;} /* すべてのリストの余白削除(・も消えてしまう) */

.main-menu{display:flex;}  /* メインメニューを横並び */

.main-menu li{background-color:#FF0000;
              position: relative;
	      display:inline-block;
	      /* width:auto; */
              width:500px;}

.sub-menu {display: none;
	   position: absolute;
	   top: 100%;
	   left: 0;} 

.main-menu li:hover .sub-menu{display: block;}

.main-menu li a{border:1px solid #ccc;		/* リストの線はグレ- */
		font-weight: normal;
		color: #12c;
		display: block;
		text-decoration: none;
		margin: 0;
		padding: 2px 18px;}

.main-menu li a:hover{background-color: #00FFFF;
			color:#fff;}

.main-menu li ul li a{border-width; 1px 1px px;}


.greet{background:orange;}

.greeting{font-weight:bold;}

.aka{color:red;}

.ao{color:blue;}

.midori{color:green;}

.play{list-style: disc;
      padding-left:20px;}

.seni a{text-decoration: none;}

.seni a:hover{text-decoration:underline;
              color: red;}

.code{color: red;
      font-weight: bold;}